.card{
  background-color: beige;
  border: 2px solid rgb(110, 106, 106);
  width: 15%;
  height: 80%;
  margin: 10px 20px;
  border-radius: 10px;
  display: inline-block ;
  text-align: center;
  font-style: arial;
  padding: 20px;
}