#btn{
  background-color: rgb(21, 19, 155);
  color: aliceblue;
  font-size: medium;
  padding: 10px 15px;
  font-family: Verdana;
  transition: background-color 0.25s;

}
#btn:hover{
  background-color: rgb(31, 84, 120);
}
#mainbtn{
  margin-left: 40%;
  display: flex;
  gap: 5rem;
}
#co{
  text-align: center;
  font-size: 140px;
}